<div class="form-container">

    <form #formTemplate="ngForm" [formGroup]="entityForm" class="form mat-elevation-z2">
        <mat-grid-list [cols]="colsSize" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">

        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        DESCRIPCIÓN
                    </mat-label>
                    <input formControlName="nombre" matInput placeholder="DESCRIPCIÓN" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('nombre') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        CANTIDAD
                    </mat-label>
                    <input formControlName="cantidad" matInput placeholder="CANTIDAD" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('cantidad') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        CANTIDAD MINIMA
                    </mat-label>
                    <input formControlName="cantidadMinima" matInput placeholder="CANTIDAD MINIMA" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('cantidadMinima') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        PRECIO COSTO
                    </mat-label>
                    <input formControlName="precioCosto" matInput placeholder="PRECIO COSTO" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('precioCosto') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        PRECIO VENTA
                    </mat-label>
                    <input formControlName="precioVenta" matInput placeholder="PRECIO VENTA">
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('precioVenta') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        IVA
                    </mat-label>
                    <input formControlName="iva" matInput placeholder="IVA" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('iva') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>


            
           

        </mat-grid-list>

        <div class="buttons-container">
            <button id="register" *ngIf="!params"  mat-raised-button color="primary" type="button" (click)="saveProducto()">
                {{ viewText.REGISTER }}
                <mat-icon>save</mat-icon>
            </button>
            <button id="update" *ngIf="params"  mat-raised-button color="primary"  type="button" (click) ="updateProducto()">
                {{ viewText.UPDATE }}
                <mat-icon>update</mat-icon>
            </button>
            <button type="button" mat-raised-button (click)="closeForm()">
                {{ viewText.CANCEL }}
                <mat-icon>clear</mat-icon>
            </button>
        </div>

    </form>
</div>
