<!-- <div class="form-container">

    <form #formTemplate="ngForm" [formGroup]="entityForm" class="form mat-elevation-z2">
        <mat-grid-list [cols]="colsSize" rowHeight="70px" gutterSize="0px" (window:resize)="onResize()">

        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        NOMBRE
                    </mat-label>
                    <input formControlName="nombre" matInput placeholder="NOMBRE" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('nombre') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        DIRECCION
                    </mat-label>
                    <input formControlName="direccion" matInput placeholder="DIRECCION" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('direccion') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field>
                    <mat-label>
                        TELEFONO
                    </mat-label>
                    <input formControlName="telefono" matInput placeholder="TELEFONO" required>
                    <mat-error *ngIf="entityForm.invalid">
                        {{ getErrorMessage('telefono') }}
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>
        

            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="edificioService.editForm">
                <mat-slide-toggle [ngClass]="{'active-toggle': true }" formControlName="estado" labelPosition="before">
                    ES ACTIVO :
                </mat-slide-toggle>
            </mat-grid-tile>

        </mat-grid-list>

        <div class="buttons-container">
            <button id="register" *ngIf="!params" (click)="create()" mat-raised-button color="primary" type="button">
                {{ viewText.REGISTER }}
                <mat-icon>save</mat-icon>
            </button>
            <button id="update" *ngIf="params" (click)="update()" mat-raised-button color="primary">
                {{ viewText.UPDATE }}
                <mat-icon>update</mat-icon>
            </button>
            <button type="button" mat-raised-button (click)="closeEdit()">
                {{ viewText.CANCEL }}
                <mat-icon>clear</mat-icon>
            </button>
        </div>

    </form>
</div> -->
